@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Heebo', sans-serif;
}

.text-amiation {
    animation-name: slide;
    animation-duration: 1s;

}

@keyframes slide {
    0% {
        transform: translateX(3%);
        opacity: 0;

    }
    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

.sub-title {
    content: ' ';
    border-bottom: 2px solid #FAD505;
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
}

/* Ocultamos las flechas de incrementar/decrementar del input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}